body{ * The background color is `#efeee7`.
    * The font used `"Georgia",Times New Roman,Times,serif;`.
    * The font color is `#333333`.
    background-color: #efeeef;
    font-family:`"Georgia",Times New Roman,Times,serif;`.
    margin: 0;
    padding: 0;
}